.text {
    width: 700px;
    height: 200px;
    background-color: none;
    width: 100%;
    padding: 8px 0 8px 16px;
    border: none;
    border: 1px solid #6c63ff;
    border-radius: 5px;
    color: #242424;
    background-color:  rgba(247, 247, 247, 1);
}


.text:focus{
    outline: 2px solid #6c63ff;
}
 

.text1 {
    width: 700px;
    height: 200px;
    resize: none;
    box-shadow: 2px 2px 5px;
}

.create {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #6c63ff;
    text-transform: uppercase;
    cursor: pointer;
}